# Virtual environments
.venv/
venv/
backend/venv/

# Environment variables (anywhere)
.env
.env.*

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/

# Frontend
node_modules/
dist/
build/

# IDE
.idea/
.vscode/
.DS_Store
